{% extends "purbeurreweb/base.html" %}
{% load static %}
{% block navbar %}
    <nav class="navbar navbar-expand-lg navbar-light fixed-top py-3" id="mainNav3">
{% endblock navbar %}

{% block content %}
<div class="masthead5" name="background-image">
    <div class="container mt-5 mb-4">
          <div class="col-12 rounded2 text-center bg-moules-dim">
              {% for product in products %}
                  <div name="product-box" class="col-12-custom">
                      <div name="product-image">
                          <a href="{% url 'product-detail' product.id %}"><img src="{{ product.image }}" id="product-img"></a>
                          {% if product.note_nutritionnelle == 'a' %}
                              <img src="{% static 'purbeurreweb\assets\img\icones\nutriscores\A.png' %}" id="nutriscore-img"></a>
                          {% elif product.note_nutritionnelle == 'b' %}
                              <img src="{% static 'purbeurreweb\assets\img\icones\nutriscores\B.png' %}" id="nutriscore-img"></a>
                          {% elif product.note_nutritionnelle == 'c' %}
                              <img src="{% static 'purbeurreweb\assets\img\icones\nutriscores\C.png' %}" id="nutriscore-img"></a>
                          {% elif product.note_nutritionnelle == 'd' %}
                              <img src="{% static 'purbeurreweb\assets\img\icones\nutriscores\D.png' %}" id="nutriscore-img"></a>
                          {% else %}
                              <img src="{% static 'purbeurreweb\assets\img\icones\nutriscores\E.png' %}" id="nutriscore-img"></a>
                          {% endif %}
                          </div>
                          <div name="product-name">
                              <a href="{% url 'product-detail' product.id %}" style="font-size: 150%;"><b>Coucou{{ product.nom }}</b></a>
                          </div>
                          {% csrf_token %}
                          <div name="favorite-product">
                              <a href="{% url 'product-update' product.id %}"><img src="{% static 'purbeurreweb\assets\img\icones\favorite2.png' %}" title="Ajouter aux favoris" id="favorite-img"></a>
                          </div>
                      </div>
              {% empty %}
                  <br>
                  <h3>Désolé, nous n'avons trouvé aucun résultat correspondant.</h3>
                  <br>
                  <a class="ml-2 h7" href={% url 'purbeurre-home' %} style="font-size: 140%;"> Retourner à l'accueil</a>
                  <br>
              {% endfor %}
          </div>
    </div>
    <div class="container mt-5 mb-4">
        <div class="row col-12 bg-white rounded2 text-center">
            {% for product in products_list %}
                <div name="product-box" class="col-4-custom mb-5">
                    <div name="product-image">
                        <a href="{% url 'product-detail' product.id %}"><img src="{{ product.image }}" id="product-img"></a>
                        {% if product.note_nutritionnelle == 'a' %}
                            <img src="{% static 'purbeurreweb\assets\img\icones\nutriscores\A.png' %}" id="nutriscore-img"></a>
                        {% elif product.note_nutritionnelle == 'b' %}
                            <img src="{% static 'purbeurreweb\assets\img\icones\nutriscores\B.png' %}" id="nutriscore-img"></a>
                        {% elif product.note_nutritionnelle == 'c' %}
                            <img src="{% static 'purbeurreweb\assets\img\icones\nutriscores\C.png' %}" id="nutriscore-img"></a>
                        {% elif product.note_nutritionnelle == 'd' %}
                            <img src="{% static 'purbeurreweb\assets\img\icones\nutriscores\D.png' %}" id="nutriscore-img"></a>
                        {% else %}
                            <img src="{% static 'purbeurreweb\assets\img\icones\nutriscores\E.png' %}" id="nutriscore-img"></a>
                        {% endif %}
                    </div>
                    <div name="product-name">
                        <a href="{% url 'product-detail' product.id %}" style="font-size: 135%; color:#343a40"><b>Coucou {{ product.nom }}</b></a>
                    </div>
                    <form method="GET" action="{% url 'purbeurre-products' %}">
                        {% csrf_token %}
                        <input type="text" id="search-middle" placeholder="Mon Produit..." title="Rechercher" name="favorite">
                        <input type="submit" id="search-icon" alt="search" title="Rechercher" class="btn btn-primary btn-md js-scroll-trigger">
                  </form>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock content %}
