{% extends "food/base.html" %}
{% load crispy_forms_tags %}

{% block navbar %}
<nav class="navbar navbar-expand-lg navbar-light fixed-top py-3" id="mainNav2">
    {% endblock navbar %}

    {% block content %}
    <!-- Register-->
    <section class="page-section bg-picture2">
        <div class="container mt-5 mb-4">
            <div class="row align-items-center text-justify">
                <div class="col-lg-6 col-md-6 bg-moules-dim rounded2" id="login-form">
                    <form method="POST">
                        {% csrf_token %}
                        <fieldset class="form-group">
                            <legend class="border-bottom mb-4">Se connecter</legend>
                            {% if messages %}
                            {% for message in messages %}
                            <div id="alert-message2"><b>{{ message }}</b></div>
                            {% endfor %}
                            {% endif %}
                            {{ form|crispy }}
                        </fieldset>
                        <div class="form-group">
                            <button class="login btn btn-outline-info" value="Log in" type="submit">Log in</button>
                        </div>
                    </form>
                    <div class="border-top pt-3">
                        <small class="text-muted">
                            Pas encore de compte ? <a class="ml-2" href="{% url 'register' %}">Créer un compte</a>
                        </small>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% endblock content %}

    {% block footer %}
    <footer class="bg-light2 py-5">
        <div class="container">
            <div class="small text-center text-dark">Copyright © 2020 - Start Bootstrap</div>
            <div class="container">
                <div class="small text-center text-dark">Projet réalisé par Guillaume Merle</div>
                <div class="container">
                    <div class="small text-center text-muted">
                        <a href="{% url 'purbeurre-legal' %}">Mentions légales</a>
                        |
                        <a href="mailto:email@email.com">Contact</a>
                    </div>
                </div>
    </footer>
    {% endblock footer %}
