{% extends "food/base.html" %}
{% load static %}

{% block navbar %}
<nav class="navbar navbar-expand-lg navbar-light fixed-top py-3" id="mainNav2">
    {% endblock navbar %}

    {% block content %}

    <!--  Profile -->
    <section class="page-section masthead4">
        <div class="container">
            <div class="col-lg-7 col-md-7 bg-moules-dim rounded2" style="text-align:center" id="account">
                <legend class="border-bottom mb-4" style="text-align:left">Informations du compte</legend>
                <img class="rounded-circle account-img mb-4" src="{% static 'food/assets/img/photos/profile.jpg' %}" title="Avatar">
                <h3 class="ml-1 mt-2 mb-4" id="profile-email">{{ user.email }}</h3>
            </div>
        </div>
    </section>
    {% endblock content %}

    <!--  Custom Footer -->
    {% block footer %}
    <footer class="bg-light2 py-5">
        <div class="container">
            <div class="small text-center text-dark">Copyright © 2020 - Start Bootstrap</div>
            <div class="container">
                <div class="small text-center text-dark">Projet réalisé par Guillaume Merle</div>
                <div class="container">
                    <div class="small text-center text-muted">
                        <a href="{% url 'purbeurre-legal' %}">Mentions légales</a>
                        |
                        <a href="mailto:email@email.com">Contact</a>
                    </div>
                </div>
    </footer>
    {% endblock footer %}
