{% extends "purbeurreweb/base.html" %}
{% load static %}
{% block navbar %}
<nav class="navbar navbar-expand-lg navbar-light fixed-top py-3" id="mainNav3">
    {% endblock navbar %}

    {% block content %}
    </div>
    <div class="container mt-5 mb-4">
        <div class="row col-12 bg-white rounded2 text-center">
            {% for product in products_list %}
            <div name="product-box" class="col-4-custom mb-5">
                <div name="product-image">
                    <a href="{% url 'product-detail' product.id %}"><img src="{{ product.image }}" id="product-img"></a>
                    {% if product.note_nutritionnelle == 'a' %}
                    <img src="{% static 'purbeurreweb\assets\img\icones\nutriscores\A.png' %}" id="nutriscore-img"></a>
                    {% elif product.note_nutritionnelle == 'b' %}
                    <img src="{% static 'purbeurreweb\assets\img\icones\nutriscores\B.png' %}" id="nutriscore-img"></a>
                    {% elif product.note_nutritionnelle == 'c' %}
                    <img src="{% static 'purbeurreweb\assets\img\icones\nutriscores\C.png' %}" id="nutriscore-img"></a>
                    {% elif product.note_nutritionnelle == 'd' %}
                    <img src="{% static 'purbeurreweb\assets\img\icones\nutriscores\D.png' %}" id="nutriscore-img"></a>
                    {% else %}
                    <img src="{% static 'purbeurreweb\assets\img\icones\nutriscores\E.png' %}" id="nutriscore-img"></a>
                    {% endif %}
                </div>
                <div name="product-name">
                    <a href="{% url 'product-detail' product.id %}"
                        style="font-size: 135%; color:#343a40"><b>{{ product.nom }}</b></a>
                    {% csrf_token %}
                </div>
                <div name="favorite-product">
                    <a href="{% url 'favorites' %}"><img
                            src="{% static 'purbeurreweb\assets\img\icones\favorite2.png' %}"
                            title="Ajouter aux favoris" id="favorite-img"></a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    </div>
    {% endblock content %}
